.about {
  display: flex;
  flex-direction: column;
  width: clamp(50%, 700px, 90%);
  margin: 0, auto;
  padding: 1rem 2rem;
  border-radius: 12px;
  align-items: center;
  background: #fff;
  text-align: center;

  h2 {
    background-color: transparent;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 0.1rem;
  }
  p {
    padding: 2rem 0;
  }
  button {
    margin: 1rem 1.5rem;
    padding: 7px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  }
}
