.about {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 18rem;
  margin: 0, auto;
  padding: 0 2rem;
  border-radius: 12px;
  align-items: center;
  background: #fff;

  h2 {
    background-color: transparent;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 30rem;
    padding: 0.1rem;
  }
  p {
    padding: 2rem;
  }
  button {
    margin: 1rem 1.5rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
}
