.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.8rem 0.5rem 0.3rem 0.5rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .linksdiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.2rem 0.5rem;

    a {
      padding: 0.5rem;
      padding-bottom: 0.3rem;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }
}
