.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin: 2rem;
    padding: 8px 22px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
