.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .buttons {
    display: flex;

    .toggleButton {
      margin: 0.6rem;
      padding: 8px 16px;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      border: none;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  .title {
    padding-right: 20px;
    min-width: fit-content;
    display: inline-block;
    margin: 0px 0.6rem;
  }

  .info {
    margin: 0.6rem;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }


  @media only screen and (max-width: 439px) {
    .title {
      padding-top:19px;
      width: 100%;
      text-align: center;
    }

    .buttons {
      width: 100%;
      justify-content: center;
    }
  }

  @media (min-width: 40rem) {
    /**
		* Note - Media query for screen size >= 640
		* (In short media query is used to shape tablets,laptops & PC's)
		*/
    h3 {
      font-size: 1.6rem;
      letter-spacing: 0.5px;
      font-weight: 700;
    }

    .buttons {
      .toggleButton {
        margin: 1rem 1.5rem;
        padding: 8px 22px;
        font-size: 1.3rem;
      }
    }

    .info {
      margin: 1rem 0;
      padding: 0.7rem;
      border-radius: 50%;
    }
  }
}
